# The API has rate limiting functionality, set a window in seconds and give the amount of calls that are max. allowed.
# Warning: this rate limiter is globally shared amongst endpoints.
NODE_ENV=development
RATE_LIMIT_WINDOW_IN_SEC=60
RATE_LIMIT_MAX_CALLS=300

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='admin1234'
POSTGRES_HOST='my_db' # The name of the donor-drop-backend's docker service OR use localhost if you want to connect via your machine instead of a shared docker network
POSTGRES_PORT=5432 # if POSTGRES_HOST='localhost' set this to the mapped port (default: 5434) instead of the internal container port
POSTGRES_DB='postgres'

NEXT_PUBLIC_SITE_URL='site_where_this_gets_hosted' # omit the trailing slash! This is for SEO (see pages/_document) and MetaMask Deeplinking.
NEXT_PUBLIC_DONOR_CAMPAIGN='coinCenter' # see drop.config.tsx for the campaigns you can choose from (or add more to it)

# === Optional below ===

# In what interval the tally gets queried, default: 5000ms
NEXT_PUBLIC_TALLY_INTERVAL_IN_MS=3000

# The only place in the frontend this could be used are in the testing endpoints: api/random-donation and api/random-donations.
# This is only to mimic creating blocks, if no api key is found we'll randomize a block number (not recommended).
ETHERSCAN_API_KEY='your_etherscan_api_key'
ETHERSCAN_BASE_URL='https://api.etherscan.io/api'

# Fill a random secret key here to limit some of the data in the report endpoint (like tnam address and hashes). Leave it empty for unrestricted access.
REPORT_SECRET_KEY=""
