# The API has rate limiting functionality, set a window in seconds and give the amount of calls that are max. allowed.
# Warning: this rate limiter is globally shared amongst endpoints.
NODE_ENV=development
RATE_LIMIT_WINDOW_IN_SEC=60
RATE_LIMIT_MAX_CALLS=300

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='admin1234'
POSTGRES_HOST='my_db_service_name' # use localhost if you want to connect via your machine instead of via a shared docker network
POSTGRES_PORT=5432 # if set to localhost, set this to the mapped port (default: 5434) instead of the internal container port
POSTGRES_DB='postgres'

NEXT_PUBLIC_SITE_URL='site_where_this_gets_hosted' # this is for SEO (see pages/_document) and MetaMask Deeplinking.
NEXT_PUBLIC_DONOR_ADDRESS='ethereum_address'
NEXT_PUBLIC_DONOR_ADDRESS_ENS='ethereum_address_ens'
NEXT_PUBLIC_DONOR_NETWORK='Ethereum Mainnet'
NEXT_PUBLIC_TARGET_ETH=27
NEXT_PUBLIC_MIN_ETH_PER_ADDRESS=0.03
NEXT_PUBLIC_MAX_ETH_PER_ADDRESS=0.3
NEXT_PUBLIC_REWARD_NAM=1000000
NEXT_PUBLIC_START_DATE="2025-01-01T15:00:00Z"
NEXT_PUBLIC_END_DATE="2025-01-09T15:00:00Z"

# === Optional below ===

# Setting this to true will let the site connect to Sepolia instead of Mainnet.
# It will always overwrite whatever is said in NEXT_PUBLIC_DONOR_NETWORK with 'Sepolia Testnet' (to prevent people from donating to the real network).
# Also shows a permanent notification on-screen that this deployment is a test. 
NEXT_PUBLIC_TEST_ENVIRONMENT=true
NEXT_PUBLIC_QUERY_INTERVAL_IN_MS=3000

# The only place in the frontend this could be used are in the testing endpoints: api/random-donation and api/random-donations.
# This is only to mimic creating blocks, if no api key is found we'll randomize a block number (not recommended).
ETHERSCAN_API_KEY='your_etherscan_api_key'
ETHERSCAN_BASE_URL='https://api.etherscan.io/api'

# Fill a random secret key here to limit some of the data in the report endpoint (like tnam address and hashes). Leave it empty for unrestricted access.
REPORT_SECRET_KEY=""