$standard-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$body-font: Poppins, Geneva, Verdana, sans-serif;
$input-font: Raleway, Tahoma, Geneva, Verdana, sans-serif;
$header-font: Annie Use Your Telescope, sans-serif;
$subheader-font: Amatic SC, sans-serif;
$special-font: "Playfair Display", serif;
$menu-font: Annie Use Your Telescope, sans-serif;
$decorative-font: "Shadows Into Light", cursive;
