.initialized,
.show-results,
.show-app,
.is-connected,
body.notification-visible,
body.display-browser,
body.ascended-state,
body.is-mobile {
  position: relative;
}
html.sidebar-expanded {
  position: relative;
}
html.sidebar-expanded.prevent-overscroll body {
  overflow: hidden;
}
html.sidebar-expanded.prevent-overscroll {
  overscroll-behavior: contain;
}
body.prevent-overscroll {
  overscroll-behavior: contain;
}

body.display-standalone,
body.display-twa {
  overscroll-behavior: contain;

  html {
    overscroll-behavior: contain;
  }
}
