.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #191919;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto 0;
  background-color: rgb(25 25 25 / 100%);
  background-color: rgb(20 19 17);
  border: 1px solid #1e1b0a;

  @media screen and (min-width: 1920px) {
    // max-width: 1929px;
  }

  @media screen and (max-width: 600px) {
    margin: 10px 1px;
    // max-width: 1929px;
    border-radius: 3px;
    padding: 5px;
  }

  &.visible {
    & .image {
      transition: transform 0.4s 0.3s;
      transform: scale(1);
      svg {
        animation-play-state: running;
      }
    }
  }
}

.section {
  display: flex;
  align-items: flex-start;
  background-color: #1c1c1c;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 5px 0;
  background-color: #1a1a19;
  border: 1px solid #232121;
  @media screen and (min-width: 1920px) {
    margin: 0;
  }

  @media screen and (max-width: 600px) {
    padding: 10px;
    margin: 0;
    flex-direction: column;
    // max-width: 1929px;
  }
}

.leftContainer {
  flex-shrink: 0;
  margin: 0 auto;
}

.image {
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  transition: transform 0.7s;
  transform: scale(0.08);
  @media screen and (max-width: 600px) {
    margin-top: 0;
    margin-right: 0;
  }

  svg {
    padding: 0px;
    animation: Pendulum 4s infinite;
    color: #ffac63;
    animation-play-state: paused;
  }
}

.rightContainer {
  flex-grow: 1;
}

.header {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px;
  text-align: left;
  margin: 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.text {
  font-size: 1rem;
  color: #dcdcdc;
  line-height: 1.5;
  text-align: justify;
}

.callToActionWrapper {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}

.callToAction {
  display: inline-flex;
  align-items: center;
  background-color: #ff6700;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}

.callToAction:hover {
  background-color: #ff791f;
}

.callToAction span {
  margin: 0 4px;
}

.subscript {
  font-size: 0.8rem;
  font-weight: 300;

  & a {
    font-weight: 400;
  }
}

.warningBanner {
  background-color: #ffcc00;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.4;
  max-width: 500px;
  margin: 10px auto;
}

@keyframes Pendulum {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.coinCenterLogo {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 100%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.visualInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "block1 block2"
    "block3 block3";
  gap: 5px;
  margin: 20px 0;
}

.visualItem:nth-child(1) {
  grid-area: block1;
}

.visualItem:nth-child(2) {
  grid-area: block2;
}

.visualItem:nth-child(3) {
  grid-area: block3;
}

.visualItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #141311;
  border: 1px solid #212020;
  border-radius: 4px;
  padding: 15px;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #161615;
    transform: scale(1.05);
  }
}

.value {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff8c2;
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #b5a98b;
  margin-top: 5px;
  text-transform: lowercase;
}

.coinCenter {
  color: rgb(255, 215, 140);
  transform: translateX(-257px) rotate(-646deg);
  transition: transform 2s 0s;
  &:hover {
    color: rgb(255, 200, 99);
  }
}

.visible {
  & .coinCenter {
    transition-delay: 0.3s;
    transform: none;
  }
}

.coinCenterLink {
  color: #45bba6;
  &:hover {
    color: #4bceb6;
  }
}

.table {
  list-style: disc;
  // margin-left: 25px;
  padding-left: 25px;
  & .text {
    font-size: 0.9rem;
    text-align: left;
  }
  @media screen and (max-width: 768px) {
    padding-left: 15px;
  }
}

.targetEnd {
  margin-top: 5px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.callToActions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 5px;
  button {
    display: inline-block;
    background-color: #00a1ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 50px;

    &:hover {
      background-color: #1fc3ff;
      transform: scale(1.05);
    }

    &:focus {
      outline: 2px solid #ffffff;
      outline-offset: 2px;
    }
  }

  & div {
    display: inline-block;
    background: transparent;
    color: #ffffff;

    padding: 2px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff;
    color: #191919;
    user-select: none;
    max-width: 224px;
    border: 1px solid #141414;
    background-color: #0f0f0f;
    color: #e6e6e5;
  }

  @media screen and (max-width: 768px) {
    & div,
    & button {
      height: 35px;
      padding: 2px 10px;
    }
  }
}

.innerRightContainer {
  // padding-right: 11px;
  // padding-left: 11px;
  flex-grow: 1;
  max-height: 500px;
  // overflow: overlay; /* Makes scrollbars overlay the content instead of pushing it */
  // scrollbar-width: thin; /* Thin scrollbar */
  // scrollbar-color: #bfbfbf rgb(24, 20, 10); /* Thumb color and track color */

  & p,
  & .table {
    padding-right: 11px;
  }
  // @media screen and (max-height: 600px) {
  //   max-height: 220px;
  // }
}
.speechBubble {
  position: relative;
  color: #333; /* Text color */
  border-radius: 8px;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
  z-index: 1;
}

.speechBubble::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 2px; /* Position of the triangle */
  right: -8px; /* Center the triangle */
  transform: translateX(50%) rotate(270deg);
  border-width: 10px; /* Size of the triangle */
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent; /* Triangle color matches the speech bubble */
}
